# Ignorar a pasta node_modules
node_modules/

# Ignorar arquivos de ambiente
.env

# Ignorar logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar diretórios do sistema operacional
.DS_Store
Thumbs.db
